.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: #3143de;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.36);
}

.logo {
  height: 45px;
  filter: brightness(0%) invert(100%);
}

.shopping-cart {
  position: relative;
  display: inline-block;
}
