.item-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-container-first-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  cursor: pointer;
}

.product-image {
  height: 100px;
  width: 100px;
  border: 2px solid #747474a6;
  border-radius: 1rem;
  object-fit: contain;
}

.item-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
}

.item-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.item-price {
  margin-top: -1rem;
  font-size: 1rem;
}

.item-category {
  font-size: 12px;
  color: cornflowerblue;
  margin-bottom: 0;
}

.delete-icon {
  margin-right: 1rem;
  height: 2rem;
  cursor: pointer;
}
