<div class="item-container">
  <div class="item-container-first-row" [routerLink]="['/product-details/by', item?.id]" (click)="closeSidebar()">
    <img class="product-image" [src]="item?.imagen" alt="product-image">
    <div class="item-info-container">
      <p class="item-name">{{item?.nombre}}</p>
      <p class="item-price">Precio: S/. {{item?.precio?.toFixed(2)}}</p>
      <p class="item-category">Categoría: {{item?.categoria}}</p>
    </div>
  </div>
  <img class="delete-icon" src="assets/icons/delete_icon.svg" alt="delete" (click)="onDeleteClicked()">
</div>
<hr>
