.main-page {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  right: -500px; /* Ajusta este valor según el ancho del sidebar */
  width: 500px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.2s ease-in-out;
  z-index: 1;
  justify-content: start;
  overflow: auto;
}

.sidebar.active {
  right: 0;
}
