.shopping-cart-list {
  padding: 1rem;
}

.close-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.div-title {
  margin: 0;
}

.close-icon {
  cursor: pointer;
}

.total {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 1.2rem;
  font-weight: 600;
}

.pay {
  border: none;
  background: linear-gradient(45deg,rgb(50,67,222) 0%,rgb(119, 107, 255) 100%);
  color: white;
  padding: 8px 0;
  border-radius: .5rem;
  width: 100%;
}
