/* You can add global styles to this file, and also import other style files */
body.no-scroll {
  overflow: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-simple-snack-bar {
  background-color: #1da91d;
  color: white;
  font-size: 16px;
  width: 103%;
}
