.tab button{
  background-color: transparent;
  border: none;
  margin-right: 2rem;
  padding: 0 1rem .5rem;
}

.tab button.active {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3.5px solid #3143de;
}
